<br/>
<br/>
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <table>
        <% @chengchats.each do |cc| %>
          <tr>
            <td>
              <img src="/assets/user.png" width=40 data-toggle="tooltip" title="<%= cc.openid %> <%= cc.created_at.strftime("%m-%d %H:%M") %>"/>
            </td>
            <td>&nbsp;&nbsp;<%= cc.content %></td>
            <td width=180></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td width=180></td>
            <td>
              <img src="/assets/jiji.jpg" width=40 data-toggle="tooltip" title="<%= cc.created_at.strftime("%m-%d %H:%M") %>"/>
            </td>
            <td>&nbsp;&nbsp;<%= cc.reply %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="col-md-5">
      <img src="/assets/code.jpg" width=300  style="float:right"/>
    </div>
  </div>

  <%= will_paginate  @chengchats %>
</div>

<script type="text/javascript">
  $().ready(function () {
    $("[data-toggle='tooltip']").tooltip();
  });
</script>
