<br/>
<br/>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <table>
        <% @chengchats.each do |cc| %>
          <tr>
            <td>
              <%= image_tag "user.png",width:40,title: cc.openid<<' '<< cc.created_at.strftime("%m-%d %H:%M"),'data-toggle'=>'tooltip' %>
            </td>
            <td>&nbsp;&nbsp;<%= cc.content %></td>
            <td width=180></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td width=180></td>
            <td>
              <%= image_tag "jiji.jpg",width:40,title: cc.created_at.strftime("%m-%d %H:%M"),'data-toggle'=>'tooltip' %>
            </td>
            <td>&nbsp;&nbsp;<%= cc.reply %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="col-md-3">
      <img src="/assets/code.jpg" width=300  style="float:right"/>
    </div>
  </div>

  <%= will_paginate  @chengchats %>
</div>

<script type="text/javascript">
  $().ready(function () {
    $("[data-toggle='tooltip']").tooltip();
  });
</script>
